.gradle/
build/
local.properties
.idea/
*.iml
.DS_Store
google-services.json
*.jks
*.keystore
.kotlin/
*.aab
*.apk
*.hprof
captures/
keystore.properties
*.pem
.externalNativeBuild/
.cxx/
*.log
*.key
*.p12
node_modules/
__pycache__/
